@using AsuransiXYZ.ViewModel.Prospect;
@model List<GridViewModel>;

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Brith Date</th>
            <th>Brith Place</th>
            <th>Pekerjaan</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            
        <tr>
            <td>@item.NomorProspect</td>
            <td>@item.FullName</td>
            <td>@item.Gender</td>
            <td>@item.BrithDate</td>
            <td>@item.BrithPlace</td>
            <td>@item.Pekerjaan</td>
            <td>@item.status</td>
        </tr>
        }
    </tbody>
</table>