@using AsuransiXYZ.ViewModel.Prospect;
@model List<GridViewModel>;




<div class="col-md-12">
    <div class="card ">
        <div class="card-header">
            <div class="d-flex justify-content-between ">

            <h4 class="card-title"> List Prospect</h4>
                <a type="button" id="btnAddModal" class="btn btn-success">AddModal</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Brith Date</th>
                            <th>Brith Place</th>
                            <th>Pekerjaan</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NomorProspect</td>
                                <td>@item.FullName</td>
                                <td>@item.Gender</td>
                                <td>@item.BrithDate</td>
                                <td>@item.BrithPlace</td>
                                <td>@item.Pekerjaan</td>
                                <td>@item.status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>